@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Merienda");
:root {
  --font: "Roboto", sans-serif;
  --bg: #17212d;
  --bg-contrast: #1c273b;
  --shadow: #263043;
  --card-main: #1b2534;
  --red: #f06547;
  --red-notification: #ff3a3c;
  --orange: #f19837;
  --blue-neutral: #4e74b9;
  --blue-intense: #4c85ff;
  --green-neutral: #00b59e;
  --green-intense: #49da92;
  --font-color: white;
}

body {
  margin: 0;
}

.c_red {
  color: var(--red);
}

.c_blue {
  color: var(--blue-intense);
}

.c_green {
  color: var(--green-intense);
}

.alt_font {
  font-family: "Merienda", cursive;
}

.normal_font {
  font-family: "Roboto", sans-serif;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}

.video-main{
    background-color: rgba(23, 32, 45, 0.502);
}
