// Imports
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

// Font
$font: "Roboto", sans-serif;
$alt-font: 'Source Sans Pro', sans-serif;

// Colors
$bg: #17212d;
$bg-contrast: #1c273b;
$shadow: #263043;
$card-main: #1b2534;
$red: #f06547;
$red-notification: #ff3a3c;
$orange: #f19837;
$blue-neutral: #4e74b9;
$blue-intense: #4c85ff;
$green-neutral: #00b59e;
$green-intense: #49da92;
$font-color: white;

// Media Queries
$break-small: "only screen and (min-width : 320px) and (max-width : 636px)";
$break-large: "only screen and (min-width : 637px)";

// Misc
$trans: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);

@media #{$break-large} {
  :root {
    font-size: 30px;
  }
}

@media #{$break-small} {
  :root {
    font-size: 15px;
  }

  #video {
    display: none;
  }
}
