@import "../../styles/global.scss";

.burger_menu {
  margin: 0;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  transition: $trans;
}

.burger_line {
  position: absolute;
  top: 30%;
  height: 2px;
  width: 80%;
  background-color: $font-color;
  transition: $trans;

  &:nth-child(2) {
    top: 50%;
    width: 60%;
  }

  &:nth-child(3) {
    top: 70%;
  }
}

.active {
  & * {
    top: 50%;
    transform: rotate(135deg);
    background-color: $red;
    box-shadow: 0 0 10px $red;
    &:nth-child(2) {
      width: 0;
      transform: none;
    }
  
    &:nth-child(3) {
        top: 50%;
      transform: rotate(45deg);
    }
  }
}

@media #{$break-large} {
  .burger_menu {
    display: none;
  }
}
