@import "../../styles/global.scss";
.container {
  display: flex;
  justify-content: flex-start;
  transition: $trans;
  padding: 20px 0 10px 0;
  background: $bg-contrast;

  @media #{$break-small} {
    left: -1000px;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    width: 98vw;
    padding: 0 0 0 10px;
    background: $bg;
    border-bottom: 2px solid $font-color;
  }
}

.show {
  left: 0;
}

.trans {
  background-color: rgba(28, 39, 59, 0.05);
}


